body {
    background-color: #eee;
}

.form-horizontal {
	margin-top: 20px;
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

.form-horizontal h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
